<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings> 
		<add name="Library" connectionString ="Server=.;DataBase=Library;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="MySqlLibrary" connectionString ="datasource=127.0.0.1;port=3306;username=root;password=;database=library"/>
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>